.App {
  font-family: sans-serif;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap");

body {
  background-color: #fdf2f8;
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  padding: 1rem;
}

h3 {
  font-family: "PT Sans", sans-serif;
  font-size: large;
}

input {
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  background-color: #f5f3ff;
}
